body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  background-color: black;
  height: 100%;
  width: 100%;
  margin: 0; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  height: 100%;
  width: 100%;
}

.leftPane {
  background-color: aqua;
  height: 100%;
  width: 25%;
  float: left;
  border-collapse: collapse;
}

.middlePane {
  background-color: blueviolet;
  height: 100%;
  width: 50%;
  float: left;
  border-collapse: collapse;
}

.rightPane {
  background-color: burlywood;
  height: 100%;
  width: 25%;
  float: right;
  border-collapse: collapse;
}