.navLeftItem {
    font-size: 22px;
    font-weight: bold;
    color: white;
    margin: 20px
}

.udderButton {
    font-size: 22px;
    font-weight: bold;
    color: white;
    margin: 20px;
    text-align: center;
}