h5 {
    color: white;
    font-weight: 900;
    padding-left: 15px;
    margin-top: -10px;
    margin-bottom: 15px;
}

.homeFeed {
    border: thin;
    border-color: rgb(54, 54, 54);
    border-style: solid;
    border-top: transparent;
    height: 100%;
    width: 100%;
}