h5 {
    color: white;
    font-weight: 900;
    padding-left: 15px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li.uddersListItem{
    border: thin;
    border-color: rgb(54, 54, 54);
    border-style: solid;
    font-size: medium;
    font-weight: 425;
    font-family: cursive;
    height:40px;
}

.homeFeed {
    border: thin;
    border-color: rgb(54, 54, 54);
    border-style: solid;
    border-top: transparent;
    height: 100%;
    width: 100%;
}

.uddersListItem {
    color: white;
}

.uddersTitle {
    padding-top: 20px;
}