h5 {
    color: white;
    font-weight: 900;
    padding-left: 15px;
    margin-bottom: 15px;
}

ul {
    display: contents;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    white-space: nowrap;
}

ul li.uddersListItem {
    border: thin;
    border-color: rgb(54, 54, 54);
    border-style: solid;
    font-size: 15px;
    font-weight: 425;
    height: auto;
    overflow: auto;
    padding-left: 90px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    white-space: normal;
    word-wrap: break-word;
}

.homeFeed {
    border: thin;
    border-color: rgb(54, 54, 54);
    border-style: solid;
    border-top: transparent;
    float: inline-start;
    height: 100%;
    width: 100%;
}

.uddersListItem {
    color: white;
}

@media only screen and (min-width: 1024px) {
}