.adjustment {
    padding-top: 17px;
}

.avi {
    border-radius: 100%;
    height: 55px;
    margin-top: 10px;
    margin-left: 15px;
    position: absolute;
    width: 55px;
}

.udder {
    border: thin;
    border-color: rgb(54, 54, 54);
    border-style: solid;
    border-top: transparent;
    height: 100%;
    padding-bottom: 50px;
    width: 100%;
}

.udderText {
    background-color: black;
    border: none;
    color: white;
    font-size: 19px;
    font-weight: 500;
    height: 30px;
    margin-left: 80px;
    outline: none;
    resize: none;
    width: 83%;
}

.udderButtonTiny {
    background-color: rgb(21, 199, 223);
    border: none;
    border-radius: 25px;
    color: white;
    display: block;
    float: right;
    font-size: 16px;
    font-weight: bold;
    margin-right: 15px;
    outline: none;
    padding: 7px 15px;
    text-align: center;
    transition-duration: 0.4s;
}

.udderButtonTiny:hover {
    background-color: rgb(17, 157, 175);
}

@media only screen and (min-width: 1024px) {
}