.udder {
    background-color: brown;
    border: thin;
    border-color: rgb(54, 54, 54);
    border-style: solid;
    border-top: transparent;
    height: 100%;
    padding-bottom: 50px;
    width: 100%;
}

.udderText {
    height: 30px;
    margin-left: 60px;
    outline: none;
    resize: none;
    width: 85%;
}
