.navLeftItem {
    font-size: 22px;
    font-weight: bold;
    color: white;
    margin: 20px
}

.udderButton {
    background-color: rgb(21, 199, 223);
    border: none;
    border-radius: 25px;
    color: white;
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    outline: none;
    padding: 10px 80px;
    text-align: center;
    transition-duration: 0.4s;
}

.udderButton:hover {
    background-color: rgb(17, 157, 175);
}